@import './styles/abstracts/variables';
@import './styles/abstracts/mixins';

.videoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-8;
  margin-bottom: $spacing-12;

  @include tablet {
    grid-template-columns: 1fr;
    gap: $spacing-6;
    margin-bottom: $spacing-8;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: $spacing-4;
  }
}

.main {
  padding: 1.5rem;
}

.pageTitle {
  font-size: 2.25rem;
  padding-bottom: 1.5rem
}

@media (max-width: 1024px) {
  .videoGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .main {
    padding: 1.5rem;
  }

  .pageTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem
  }
}

.viewMoreButton {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-transition: background-color .25s ease-out, color .25s ease-out;
  transition: background-color .25s ease-out, color .25s ease-out;
  text-align: center;
  cursor: pointer;
  color: #fefefe;
  font-size: 16px;
  padding: 1em 3em;

  background-image: linear-gradient(to right, #2F5AE5, #2F5AE5, #5d78dc, #2F5AE5);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}


.viewMoreButton:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}