@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #2F5AE5;
  --primary-light: #d8b4fe;
  --text-color: #333;
  --bg-light: #f8fafc;
  --active-color: #2F5AE5;
  --bg-color: #ffffff;
  --card-bg: #ffffff;
  --border-color: #e5e7eb;

  --secondary-color: #E8F6FF;
  --dark-grey: #888;
  --dark-blue-hover: #163ab2;
}

[data-theme="dark"] {
  --primary-color: #2F5AE5;
  --primary-light: #e9d5ff;
  --text-color: #f3f4f6;
  --bg-light: #374151;
  --active-color: #2F5AE5;
  --active-underline: #a5b4fc;
  --bg-color: #111827;
  --card-bg: #1f2937;
  --border-color: #374151;

  --secondary-color: #E8F6FF;
  --dark-grey: #888;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Albert Sans, Arial, Helvetica, sans-serif';
}