.videoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.main {
  padding: 3rem 4rem;
}

.pageTitle {
  font-size: 2.25rem;
  padding-bottom: 1.5rem
}

@media (max-width: 1024px) {
  .videoGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .main {
    padding: 1.5rem;
  }

  .pageTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem
  }
}
